/* See `public/scripts/theme.js` for why we use css variables instead of defining the theme in `src/constants/theme.ts`*/
:root {
  --white: #ffffff;
  --black: #000000;

  --gray: #777777;
  --off-red: #fb0202;
  --imperial-red: #fd4949;
  --night: #101010;
  --jet: #292929;
  --dark-slate-gray: #2f4f4f;
  --white-smoke: #f5f5f5;
  --platinum: #e1e1e1;
  --aquamarine: #6cf2b8;
  --gunmetal: #264040;
  --silver: #aaaaaa;

  --theme-transition-duration: 0.4s;
  --theme-transition-easing: ease-out;
}

.light {
  --theme-cursor-background: var(--black);
  --theme-cursor-filter: invert(100%);

  --theme-menu: var(--white-smoke);
  --theme-body: var(--white);
  --theme-text-primary: var(--black);
  --theme-text-accent: var(--off-red);
  --theme-text-muted: var(--gray);
}

.dark {
  --theme-cursor-background: var(--white);
  --theme-cursor-filter: none;

  --theme-menu: var(--jet);
  --theme-body: var(--night);
  --theme-text-primary: var(--white);
  --theme-text-accent: var(--imperial-red);
  --theme-text-muted: var(--silver);
}

.calm {
  --theme-cursor-background: var(--white);
  --theme-cursor-filter: none;

  --theme-menu: var(--gunmetal);
  --theme-body: var(--dark-slate-gray);
  --theme-text-primary: var(--platinum);
  --theme-text-accent: var(--aquamarine);
  --theme-text-muted: var(--silver);
}

/* Set transition when toggling, not before, to prevent flicker. */
.transition {
  transition-property: color, background-color;
  transition-duration: var(--theme-transition-duration);
  transition-timing-function: var(--theme-transition-easing);
}
