/* See `public/scripts/theme.js` for why we use css variables instead of defining the theme in `src/constants/theme.ts`*/
:root {
  --white: #ffffff;
  --black: #000000;

  --theme-transition-duration: 0.4s;
  --theme-transition-easing: ease-out;
}

.light {
  --theme-cursor-background: var(--black);
  --theme-cursor-filter: invert(100%);

  --theme-body: var(--white);
  --theme-text-500: #6b7280;
  --theme-text-1000: var(--black);

  --theme-divider: #d1d5db;
}

.dark {
  --theme-cursor-background: var(--white);
  --theme-cursor-filter: none;

  --theme-body: var(--black);
  --theme-text-500: #d1d5db;
  --theme-text-1000: var(--white);

  --theme-divider: #d1d5db;
}

/* Set transition when toggling, not before, to prevent flicker. */
.transition {
  transition-property: color, background-color;
  transition-duration: var(--theme-transition-duration);
  transition-timing-function: var(--theme-transition-easing);
}
